/* registration-form.css */

form {
    max-width:100%;
    /* margin: 40px auto; */
    padding: 20px;
    background-color: #f9f9f9;
    /* border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select {
    width: 80px;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 10%;
    padding: 10px;
    border: 1px solid #4f8c73;
  }
  
  select:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  label[for="birthdate"] {
    margin-top: 10px;
    /* margin-left: 50%; */
  }
  
  label[for="timeperiod"] {
    margin-top: 10px;
  }
  input[type="text"] {
    width: 40%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #4f8c73;
    margin-left: 5%;
}
/* registration-form.css */

  /* You can add more styles as needed */
  /* You can add more styles as needed */
  .day, .month, .year {
    direction: rtl; /* Add this line */
  }
  
  .day option, .month option, .year option {
    direction: ltr; /* Add this line */
  }
  .date{
    height: 200px;
  }