.footer {
    background-color: #56967A;
    color: #fff;
    margin-top: 39%;
    text-align: center;
    width: 100%;
    height: 50px;
  }
  
  .social-media {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
  }
  
  .social-media a {
    color: red;
    margin: 0 1rem;
  }
  
  .social-media a:hover {
    color: #7f0d0d;
  }
  
  .social-media i {
    font-size: 10px;
  }