
.gall{
    margin-left: 20%;
    margin-bottom: 5%;
    border-width: 10px;
    border-style:outset;
    border-color: #419470;
}
.gallery{
    margin: 2%;
}
.check{
    margin-left: 35%;
    font-size: 40px;
    /* color: #419470; */
}
.look{
    font-size: 40px;
    /* color: #419470; */
}

.parent1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(1,1fr);
    gap: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    margin-top: 0%;
    margin-left: 20%;
    margin-bottom: 0;
}
    

.div2 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.div1{
    grid-row: 1;
    grid-column: 1;
}
.div3 {
    grid-row:1;
    grid-column-start: 1;
   
}
.grid{
    margin-bottom: 0;
}
.hovarImage{
    width: 100%;
}
/* MuiImageListItem-img:hover{
    width: 500px;
} */
@media (max-width:640px) {
    /* styles here will be applied when the screen width is 575px or less */
    .css-1egbo6g {
        width: 200px;
        height: 200px;
        overflow-y: scroll;
    }
    .check {
        margin-left: 10%;
        font-size: 20px;
        /* color: #419470; */
    }
    .gall {
        margin-left: 10%;
        margin-bottom: 5%;
        border-width: 10px;
        border-style: outset;
        border-color: #419470;
    }
    .look {
        font-size: 20px;
        /* color: #419470; */
    }
    .vidSwim {
        width: 200px;
        margin-left: 40%;
        height: 250px;
    }

  }
  @media (max-width:1536px) {
    
    /* styles here will be applied when the screen width is 575px or less */
  }
  @media (max-width:1280px) {
    
    /* styles here will be applied when the screen width is 575px or less */
    

  }
