
.gall{
    margin-left: 20%;
    margin-bottom: 5%;
    border-width: 10px;
    border-style:outset;
    border-color: #419470;
}
.gallery{
    margin: 2%;
}
.check{
    margin-left: 35%;
    font-size: 40px;
}
.look{
    font-size: 40px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(1,1fr);
    gap: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    margin-top: 0%;
    margin-left: 20%;
    margin-bottom: 0;
}
    

.div2 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.div1{
    grid-row: 1;
    grid-column: 1;
}
.div3 {
    grid-row:1;
    grid-column-start: 1;
   
}
.grid{
    margin-bottom: 0;
}
