* {
  box-sizing:content-box;
  font-family: "Euclid Circular A", "Poppins";
} 

body {
  place-items: center;
  gap: 0px;
  background: #eff9ff;
  font-family: "Euclid Circular A", "Poppins";
} 

@media (width >= 500px) {
  .card {
      margin: 0;
      width: 120px;
      padding: 70px 70px;
  }
}

/* .background {
  pos
  box-sizing:content-box;
  top: -20vmin;
  left: -20vmin;
  width: 100px;
  height: 100px;
  border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
  background:#56967a;
} */

/* .background::after {
  content: "";
  position: inherit;
  right: -50vmin;
  bottom: -55vmin;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background:#498068;
} */

.card {
  /* box-sizing:content-box; */
  overflow: hidden;
  position: relative;
  z-index: 3;
  width: 94%;
  margin-top: 0 20px;
  font-size: 18px;
  /* margin: 0 20px; */
  padding: 130px 38% 10px;
  border-radius: 24px;
  background: #eff9ff;
  text-align: center;
  box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
}

.card::before {
  content: "";
  position: absolute;
 top: -880px;
  left: 50%; 
  translate: -50% 0;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background:#419470;
}

@media (width >= 500px) {
  .card {
    margin: 0;
    width: 360px;
  }
}

.card .logo {
  position: absolute;
  top:10px;
  left: 50%;
  translate: -50% 0;
  width: 80px;
  height: 80px;
}

.card > h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 38px;
  /* color: rgb(0 0 0 / 38%); */
  color: black;
}

.form {
  margin: 0 0 44px;
  display: grid;
  gap: 15px;
}

.form :is(input,button) {
  width: 90%;
  height: 56px;
  border-radius: 28px;
  font-size: 17px;
  font-family: inherit;
}

.form > input {
  border: 0;
  padding: 0 24px;
  color:black;
  /* background: #ededed; */
  background: #5eb08d80;
}

.form > input::placeholder {
  /* color: rgb(0 0 0 / 28%); */
  color: #0000007a;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.form > button {
  border: 0;
  font-size: 20px;
  color: #f9f9f9;
  background:#419470;
  display: grid;
  place-items: center;
  font-weight: 500;
  cursor: pointer;
  width:150px;
  margin-left: 30%;
}
.card>h2{
  font-family: "Euclid Circular A", "Poppins";

}
.card > footer {
  color: #a1a1a1;
  font-family: "Euclid Circular A", "Poppins";

}

.here{
  color: #419470;
  font-size: 20px;
  font-weight: 600;
}
.card>h2>span{
  font-weight: 600;
  color: #419470;
}

body{
  margin:0 auto;
}
#navbarScroll{
  margin-left: 25%;
  font-size: 20px;
}
.navbar{
  background-color:#56967a;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.dropdown-menu.show {
  display: block;
  border: groove;
  border-width: medium;
}
#login {
  padding: 5px 10px ;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  margin-right: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#login>a{
  color: #000;
  text-decoration: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#login>a:hover{
  color: #56967a;
  text-decoration: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#login:hover {
  background-color:white;
  box-shadow: 0px 15px 20px white;
  color: #56967a;
  transform: translateY(-7px);
}

#login:active {
  transform: translateY(-1px);
}

#signup {
  padding: 5px 10px ;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  margin-right: 40px;
  margin-left: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#signup>a{
  color: #000;
  text-decoration: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#signup>a:hover{
  color: #56967a;
  text-decoration: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#signup:hover {
  background-color:white;
  box-shadow: 0px 15px 20px white;
  color: #56967a;
  transform: translateY(-7px);
}

#signup:active {
  transform: translateY(-1px);
}
.icons{
  padding:0 20px;
  color:white;
}
.icons:hover{
  padding:0 20px;
  color:#079156;
}
.nav-item{
  padding: 20px;
}

