form {
    max-width: 100%;
    /* margin: 40px auto; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 20px;
  }
   */
  input[type="text"] {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 5%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  /* button[type="submit"] {
    background-color:#4f8c73;
    color: #fff;
    padding: 20px 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30%;
  }
  
  button[type="submit"]:hover {
    background-color:#6a9482;
  } */
  #cssportal-grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 0px;
    width: 100%;
    height: 100%;
  }
  #div1 {
    grid-area: 1 / 1 / 5 / 2;
    width: 600px;
    /* background-color: rgba(219,248,205, 0.5); */
  }
  #div2 {
    grid-area: 1 / 2 / 5 / 3;
    width: 600px;
    /* background-color: rgba(164,40,95, 0.5); */
  }
  #div3 {
    grid-area: 5 / 1 / 6 / 3;
    /* background-color: rgba(89,180,76, 0.5); */
  }

  select {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 4%;
    padding:5px;
    border: 2px solid #4f8c73;
  }
  
  select:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* label[for="birthdate"] {
    margin-top: 5px;
  }
  
  label[for="timeperiod"] {
    margin-top: 5px;
  } */
  input[type="text"] {
    width: 40%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #4f8c73;
    margin-left: 5%;
}
/* registration-form.css */

  /* You can add more styles as needed */
  /* You can add more styles as needed */
.payinfo{
  font-size: 40px;
  margin-left: 32%;
}
label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 20%;
}
.selector{
  margin-left: 20%;
}
.paybutton {
  cursor: pointer;
    width: 200px;
    height: 56px;
    /* padding: 0 20px; */
    background:#56967A;
    color: #f7f7f7;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
    margin-left: 42%;
    border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}
@media (max-width:640px) {
  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 0%;
}
.selector {
  margin-left: 0%;
}
#div1 {
  grid-area: 1 / 1 / 2 / 6;
  width: 400px;
  /* background-color: rgba(219, 248, 205, 0.5); */
}
#div2 {
  margin-top: 600px;
  grid-area: 1 / 2 / 3 / 3;
  width: 300px;
  /* background-color: rgba(164, 40, 95, 0.5); */
}
#cssportal-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  /* grid-template-columns: repeat(1, 1fr); */
  gap: 0px;
  width: 100%;
  height: 100%;
}
.creditcard {
  animation-name: rotate_500;
  background-color: var(--primary);
  background-image: radial-gradient(circle at 100% 0%, hsla(0, 0%, 100%, 0.08) 29.5%, hsla(0, 0%, 100%, 0) 30%), radial-gradient(circle at 100% 0%, hsla(0, 0%, 100%, 0.08) 39.5%, hsla(0, 0%, 100%, 0) 40%), radial-gradient(circle at 100% 0%, hsla(0, 0%, 100%, 0.08) 49.5%, hsla(0, 0%, 100%, 0) 50%);
  border-radius: 0.5em;
  box-shadow: 0 0 0 hsl(0, 0%, 80%), 0 0 0 hsl(0, 0%, 100%), -0.2rem 0 0.75rem 0 hsla(0, 0%, 0%, 0.3);
  /* color: hsl(0, 0%, 100%); */
  color: #419470;
  /* width: 10.3em; */
  height: 7.5em;
  width: 255px;
  margin-left: 0px;
  margin-top: 5%;
  transform: translate3d(0, 0, 0);
  padding: 10px 10px 10px;
  background-color: black;
}
.payinfo {
  font-size: 30px;
  margin-left: 15%;
}
}
@media (max-width:1536px) {
  
  /* styles here will be applied when the screen width is 575px or less */
}
@media (max-width:1280px) {
  
  /* styles here will be applied when the screen width is 575px or less */
  

}