.p{
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.money{
    width: 200px;
    height: 500px;
    position: relative;
    margin-left:85%;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    margin-top: 10%;
    margin-left: 20%;
}
    

.div1 {
    grid-row: 1;
    grid-column: auto;
}
.div2 {
    grid-row: 1;
    grid-column: auto;
}
.div3 {
    grid-column-start: 1;
    grid-row-start: 2;
    
}

.div4 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
}
.price{
    color: #56967A;
    font-weight: bolder;
}

@media (max-width:640px) {
    /* styles here will be applied when the screen width is 575px or less */
    .money {
        width: 100px;
        height: 200px;
        position: relative;
        margin-left: 50%;
    }
    .div2 {
        font-size: 25px;
    }
    .div1{
        font-size: 20px;
    }
    .div3{
        font-size: 20px;
    }
    .div4{
        font-size: 25px;
    }
    .p {
        font-size: 30px;
        text-align: center;
        margin-top: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    /* .jVeway {
        width: 30%;
        text-align: left;
        margin-left: 10%;
        margin-right: 0%;
    } */
    /* .lbvPso {
        padding: 2px;
        border: 1px solid #56967A;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        text-transform: uppercase;
        font-family: Georgia, 'Times New Roman', Times, serif;
    } */
  }
  @media (max-width:1536px) {
    
    /* styles here will be applied when the screen width is 575px or less */
  }
  @media (max-width:1280px) {
    
    /* styles here will be applied when the screen width is 575px or less */
    

  }
  .regi {
    background: #ffff;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color:#419470;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .regi:hover {
    background: #419470;
    color: #ffff;
    text-decoration: none;
  }
  