/* * {
    box-sizing: border-box;
  } */
  
 body {
    place-items: center;
    margin: 0;
    background: #56967A;
    font-family: "Euclid Circular A";
    color: #075835;
    animation: rotate 5s infinite alternate linear;
  }

  button {
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  
  .login-card {
    width: 95.8%;
    padding: 60px 30px 32px;
    /* border-radius: 1.25rem; */
    background: #eff9ff;
    text-align: center;
    transition: 0.4s;
  }
  
  .login-card > h2 {
    font-size: 36px;
    font-weight: 600;
    /* margin: 0 0 30px; */
    margin-right: 4%;
  }
  
  /* .login-card img {
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 5px;
    margin-bottom: 10px;
  } */
  
  .login-form {
    width: 100%;
    margin: 0;
    display: grid;
  }
  
  .login-form input.control::placeholder {
    color: #075835;
    
  }
  
  .control {
    border: 1.5px solid #56967A;
    outline: none;
    width: 500px;
    height: 56px;
    padding: 0 16px;
    background: #f6f7ff;
    color: inherit;
    border-radius: 6px;
    margin: 8px 0;
    font-family: inherit;
    text-align: left;
    font-size: 18px;
    transition: 0.4s;
    margin-left: 30%;
  }
  .username{
    width: 21px;
    margin-left: 30%;
  }
  button.control {
    cursor: pointer;
    width: 200px;
    height: 56px;
    padding: 0 20px;
    background:#56967A;
    color: #f7f7f7;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
    margin-left: 0%;
  }
  
  .bars {
    margin: 8px 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 6px;
    border-radius: 3px;
    background: #075835;
    width: 550px;
    margin-left: 30%;
  }
  
  .bars div {
    height: 6px;
    border-radius: 3px;
    transition: 0.4s;
    width: 0%;
  }
  
  .bars.weak div {
    background: #e24c71;
    width: 33.33%;
  }
  
  .bars.medium div {
    background: #f39845;
    width: 66.66%;
  }
  
  .bars.strong div {
    background: #57c558;
    width: 100%;
  }
  
  .strength {
    text-align: left;
    margin-left: 30%;
    height: 30px;
    text-transform: capitalize;
    color: #56967A;
  }
