.video-container {
    /* Make the video container a block element */
    display: block;
    
    /* Set the width and height of the video container */
    width: 100%;
    height: 100vh;
    
    /* Center the video horizontally and vertically */
    margin: 0 auto;
    text-align: center;
  }
  
  .video-container video {
    /* Make the video element a block element */
    display: block;
    
    /* Set the width and height of the video element */
    width: 80%;
    height: 80%;
    
    /* Remove any borders or outlines */
    border: none;
    outline: none;
    
    /* Make the video element responsive */
    object-fit: cover;
  }
  .video-container video {
    /* Add a bright red border to the video element */
    border: 10px solid red;
    
    /* Add a background color to the video element */
    background-color: yellow;
  }
  @media (max-width:640px) {
    /* styles here will be applied when the screen width is 575px or less */
    .vid{
        /* width:500px; */
        width: 50%;
         margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 70px; 
        border-width: 10px;
        border-color:#56967A ;
        border-style:inset;
      }

  }
  @media (max-width:1536px) {
    /* styles here will be applied when the screen width is 575px or less */
    .vid{
        width:70%;
        height: 70%;
         margin-left: 15%;
        /* margin-right: 4%; */
        margin-bottom: 70px; 
        border-width: 10px;
        border-color:#56967A ;
        border-style:inset;
      }

  }
  @media (max-width:1280px) {
    /* styles here will be applied when the screen width is 575px or less */
    .vid{
        width:90%;
         margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 70px; 
        border-width: 10px;
        border-color:#56967A ;
        border-style:inset;
      }

  }